on post-fs-data && property:vendor.vibrator.device=*
    wait ${vendor.vibrator.device}
    chown system system ${vendor.vibrator.device}
    chmod 0600 ${vendor.vibrator.device}
    start vendor.vibrator

service vendor.vibrator /vendor/bin/hw/android.hardware.vibrator.service.nothing-rt_ics
    class hal
    user system
    group system input
    setenv ENV_RICHTAP_CONFIG_PATH /odm/etc/aac_richtap.config
    disabled
